# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env

# PyInstaller
dist/
build/
*.spec

# Report outputs
*.html

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.suo
*.user
